/* 
    Document   : ie9.css
    Created on : 25/04/2013, 11:40:47
    Author     : Xavi Pujolras - La Mantis
    Description:
        Purpose of the stylesheet follows.
*/

/*FITXA PRODUCTE*/
#fitxa .espectacle .sumari{padding:15px 0px;}
#fitxa .espectacle .preu{position:absolute;left:70px;}
