/* 
    Document   : styles
    Created on : 13/06/2012, 15:26:35
    Author     : pixow
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.nom{padding-bottom:5px;}
.crop { float:left; width:400px; }

.foto_llistat{height: 75px;}
#jcrop{ float:left;}
.jcrop-holder{float:left;margin-right: 20px;}

#thumb_actual,#thumb_nou{width: 49%;float:right;padding-bottom:20px;border-bottom:1px solid #cacaca;}
#thumb_nou{border-bottom: none;margin-top:20px;display: none;}
#thumb_actual img{height: 100px;}
#thumb{overflow:hidden;}

.foto_llistat_peque{height: 55px;line-height: 55px;font-weight: bold;font-size: 16px;}

.foto_portada{background: url('../../image/icones/galeria_pral_ico.png') no-repeat top left;height: 24px;width: 24px;position: absolute;left: 35px;margin-top:4px;}
