/* 
    Document   : styles
    Created on : 03/07/2012, 11:28:57
    Author     : Xavi Pujolras - La Mantis
    Description:
        Purpose of the stylesheet follows.
*/
.pricing-table{border: none;}

ul{list-style: inside;}
.foto.left{margin-right: 1.3em;}

.galeria{margin-top:1.5rem;}