/* 
    Document   : styles
    Created on : 04/07/2013, 18:32:05
    Author     : Xavi Pujolras - La Mantis
    Description:
        Purpose of the stylesheet follows.
*/

#google_map{
    height: 300px;width: 100%;
}
#lat,#lon{color:#cacaca;}

/*LListats sectors destacats*/
#form label span.titol_destacat{margin-top: 0;}
#form label input[type='checkbox']{float: left;} 
