/* 
    Document   : styles
    Created on : 17/06/2013, 17:19:43
    Author     : Xavi Pujolras - La Mantis
    Description:
        Purpose of the stylesheet follows.
*/

.widgetIframe{float: left;width: 100%;margin-right: 1%;}
.widgetIframe iframe body {background-color: #F9F9F9;}
.widgetRight{float: right;}
.widgetIframeFull{width: 100%;margin-top:10px;float: left; background: #F9F9F9;}

#contingut_container{min-height: 2000px;}