
/* Boxes */


#contingut #historial_lat { list-style:none; margin:0px; }
#contingut #historial_lat ul { list-style:none; margin:0px 0px 0px 15px; }
#contingut #historial_lat li { padding:0px; height: 100%;}
#historial_lat li a {
  display:block;
  padding:0px 0px 0px 15px;
  background:url('../../image/arrow.gif') left top no-repeat;
}

.tags_cloud { margin:5px 0px 0px 0px; text-align:center; }
.tags_cloud a { text-decoration:none; }
.tags_cloud a:hover { text-decoration:underline; }


/*fitxa noticia*/

/*
.noticia .img_gal{float: left;margin-right: 20px;}
.noticia .info_aux{padding:0;margin-bottom: 40px;}
.noticia h1{ font-size: 38px;line-height: 38px;}
.noticia #split_page{margin: 30px 0 0 -20px;padding:9px 20px 0 20px;width: 660px;display: block;}
.noticia #split_page span{display:block;font-weight: normal;}
.noticia #split_page a{text-decoration: none;}
.noticia #split_page span, #split_page a {padding:0;}
.noticia #split_page a:hover{text-decoration: underline;}
.noticia #split_page p{margin:0;}
.noticia #split_right{ text-align:right;}
.noticia #split_left{ text-align:left;}
.noticia #split_page b{padding-bottom: 18px;display: block;}
.noticia #split_page a:hover{text-decoration: none;}
.noticia.fitxa{background: none;box-shadow: none;}
*/
.no_items{padding:10px;}

#facebook {border:none; overflow:hidden; width:160px; height:20px;}
#twitter {border:none; overflow:hidden; width:80px; height:20px;}

