
	/*
	Copyright (c) 2007, Yahoo! Inc. All rights reserved.
	Code licensed under the BSD License:
	http://developer.yahoo.net/yui/license.txt
	version: 2.2.0
	*/


	
	
	/* multiselect styles */
	.multiselect {
		width: 460px;
		height: 200px;
	}
	
	#switcher {
		margin-top: 20px;
	}

