.camps .camp{padding: 0.3rem 0;}
.camp .enunciat{font-weight: bold;}


/* EQUIP HUMÀ llistat_1*/

.llistat_1.item_llistat .fons{background-color: #f9f9f9;}
.llistat_1.item_llistat:hover > .fons{cursor: pointer;background-color: #f0f0f0;}