﻿/*  
Author: Arnau Pujol Cabarrocas
Author URI: http://analogicemotion.com/
*/

/* Hacks per navegadors NO Internet Explorer */

* html #portfolio {
  _display:none;
}

* html #header_top {
  _background:url('../image/header_top.jpg') left top no-repeat;
}

label.inline input { position:absolute; right:0px; width:180px; }

input { width:578px; }
input.width_50 { float:left; width:49%; }
textarea { width:578px; height:100px; }