/* 
    Document   : styles
    Created on : 15/02/2012, 12:20:13
    Author     : Xavi Pujolras - La Mantis
    Description:
        Purpose of the stylesheet follows.
*/


.forbidden{
    background: url('../../image/forbidden.png') no-repeat;
    padding:10px 0 0 75px;
    margin:20px 0 0 15px;
}

