.accessos_rapids{margin-top:-5rem;z-index: 200;position: relative;}
.accessos_rapids li .panel{border:none;border-radius: 7px;box-shadow: 0px 0px 10px #cacaca;background: white;height: 10.5rem;}
.accessos_rapids li .panel:hover{
background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 19%,#e6e6e6 100%);
}
.accessos_rapids li .panel:hover h4{color:#008BC4;}
.desc p{margin-bottom:0px;}
.panel h4{color:#9C5EB4; font-weight: 500;}

.banners_laterals_home{margin-top:3.1rem;}



.desc p{font-size: .9rem;line-height: 1.2rem;} 