﻿/*  
Author: Arnau Pujol Cabarrocas
Author URI: http://analogicemotion.com/
*/

/* Hacks per navegadors Internet Explorer */

/* Estructura */

#lateral { _margin:15px 15px 0px -112px; }

#contingut { _overflow:hidden; }

/* Formularis */

input.file { height:19px; }

#contingut #buscador input, #contingut #buscador input.file, #contingut #buscador select  { margin-top:0px; }

#form input.checkbox { margin:0px }

/*code mirror*/
.CodeMirror-wrap .CodeMirror-scroll {

  height: 350px;
}

