﻿/*  
Author: La Mantis
Author URI: http://www.mantis.cat/
*/

/* Reset CSS */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td 
{ margin:0px; padding:0px; border:0px; outline:0px; }

html { overflow-y:scroll; }

a { color:#21759B; text-decoration:none; outline:none; }

a img, :link img, :visited img { border:0px; }

table { border-collapse:collapse; border-spacing:0px; }

ol, ul { list-style:none; }

:focus { outline:none; }

img { margin:0px; vertical-align:top; }

.social{text-align: center;}

input, textarea, select {
    margin:0px;
    padding:1px; 
    font-size:14px; 
    line-height:20px;
    border:1px solid #cacaca;
    border-radius: 5px;
    padding:5px 10px;
    background: white;
}
input { height:20px; }
input.file { height:27px; }
select { height:32px; }
textarea:focus,input[type="text"]:focus,input[type="password"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,input[type="date"]:focus,input[type="month"]:focus,input[type="time"]:focus,input[type="week"]:focus,input[type="number"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="search"]:focus,input[type="tel"]:focus,input[type="color"]:focus,.uneditable-input:focus{border-color:rgba(82, 168, 236, 0.8);outline:0;outline:thin dotted \9;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);}
input[type="radio"],input[type="checkbox"]{margin:4px 0 0;*margin-top:0;margin-top:1px \9;line-height:normal;}

.top_10{margin-top:10px;clear: both;}
.top_20{margin-top:20px;clear: both;}

/* Estructura General */

html,body { 
    min-width:1000px;
    margin:0px; 
    height:100%;  
    font-family: 'Arimo', sans-serif;
    font-size:14px;
    line-height:21px;
    color:#333;
    background:#d9d9d9;
}

#pagina {
    width:100%;
    height:auto !important; /* For Modern Browsers */
    height:100%; /* For IE */
    min-height:100%; /* For Modern Browsers */
    position: relative;
}  

#estructura{
    clear:both;
    margin:0px auto;
    width:100%;
    overflow:hidden;
    background:transparent;
    height: 100%;

}

#estructura_400{
    clear:both;
    margin:0px auto;
    padding:40px 0px 60px;
    width:400px;
    overflow:hidden;
    background:transparent;
}
#estructura_400 #form fieldset{padding-right: 35px;}

#body_admin {
}

#lateral_container {
    float:left;
    width:22%;
    height: 100%;
    position: absolute;
}
#lateral_container, #lateral ul li{
    background: #d9d9d9;

}

#contingut_container {
    position: relative;
    margin-left: 22%;
    width:78%;
    background:white;
    padding:40px 0;
    min-height: 800px;
}
#contingut{
    min-width: 750px;
    max-width: 980px;
    padding-left: 20px;
}
.top_15{ margin-top: 15px; }

/* Capçalera */

#header {
    position:relative;
    height:140px;
    font-size:12px;
    color:#fff;
    background:#d9d9d9;
    overflow:hidden;
}
#header_content{

}
#header a { color:#fff; }
#header a:hover { text-decoration:underline; }


#header_esq{width: 22%;float: left;}
#header_dret{width: 72%;float: left;}


#header_logo { 
    height:125px;
    padding: 5px 0 15px 0px;
    margin-right: 10px;
    background:url('../image/logo_admin.png') no-repeat center center;
    display: block;
}

#header_options { 
    text-align: right;
    margin:20px 0px 35px 0px; 
    height: 70px;
    max-width: 1000px;
    min-width:800px;
}

#header_options a{
    height: 80px;width: 80px;display: inline-block;
    background: white no-repeat 15px 5px;
    border-radius: 10px;
    border:1px solid #cacaca;
    margin-right: 7px;
    color:black;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 120px;
    font-size: 9px;
    text-align: center;
}
#header_options a:hover{text-decoration: none;border:1px solid white; box-shadow: 0px 5px 20px white;}
#header_options a.veure_web{background-image: url('../image/icones/web_ico.png');}
#header_options a.perfil{background-image: url('../image/icones/perfil_ico.png');}
#header_options a.estadistiques{background-image: url('../image/icones/estadistiques_ico.png');}
#header_options a.sortir{background-image: url('../image/icones/sortir_ico.png');}


/* Titulars */

h1 {
    font-family: 'Titillium Web', sans-serif;
    font-size:24px;
    height:35px;
    line-height:35px;
    text-transform:none;
}
h1 span { font-size:11px; }
#header_logo h1 { 
    height:60px; 
    line-height:60px; 
}

h2 {
    text-indent:90px;
    height: auto;
    font-family: 'Titillium Web', sans-serif;
    font-size:36px;
    line-height:54px; 
    color:black;
    margin-bottom:20px;
    text-transform: uppercase;
    font-weight: normal;
    float: left;
}
h2.home { background:url('../image/icones/inici_ico_70.png') left top no-repeat; }
h2.pages { background:url('../image/icones/pagines_ico_70.png') left top no-repeat; }
h2.boxes { background:url('../image/icon_boxes.gif') left top no-repeat; }
h2.banners { background:url('../image/icones/baners_ico_70.png') left top no-repeat; }
h2.fotos { background:url('../image/icones/fotos_ico_70.png') left top no-repeat; }
h2.slideshows { background:url('../image/icones/slides_ico_70.png') left top no-repeat; }
h2.capsaleres { background:url('../image/icon_capsaleres.gif') left top no-repeat; }
h2.tools { background:url('../image/icones/eines_ico_70.png') left top no-repeat; }
h2.estadistiques { background:url('../image/icones/estadistiques_ico.png') left top no-repeat; }
h2.config { background:url('../image/icones/configuracio_ico_70.png') left top no-repeat; }
h2.users { background:url('../image/icones/usuaris_ico_70.png') left top no-repeat; }
h2.cataleg { background:url('../image/icones/espectacles_ico_70.png') left top no-repeat; }
h2.menus { background:url('../image/icones/menus_ico_70.png') left top no-repeat; }
h2.noticies { background:url('../image/icones/noticies_ico_70.png') left top no-repeat; }
h2.icon_llistat_3 { background:url('../image/icones/cartells_ico_70.png') left top no-repeat; }/*espais*/
h2.icon_llistat_4,h2.icon_llistat_10 { background:url('../image/icones/patrocinadors_ico_70.png') left top no-repeat; }/*patrocinadors*/
h2.icon_llistat_1,h2.icon_llistat_2,h2.icon_llistat_6 { background:url('../image/icones/espais_ico_70.png') left top no-repeat; }/*Premsa*/
h2.icon_llistat_12{background:url('../image/icones/cartells_ico_70.png') left top no-repeat; }/*cartells*/
h2.icon_llistat_11{background:url('../image/icones/musics_ico_70.png') left top no-repeat; }/*cartells*/

h2.not_found { background:url('../image/icon_not_found.gif') left top no-repeat; }

h2.perfil{background:url('../image/icones/perfil_ico_70.png') left top no-repeat; }


h3 {
    font-family: 'Titillium Web', sans-serif;
    font-size:18px;
    line-height:20px; 
    color:#464646;
    margin-bottom:10px;
}

/* Avisos */

.message_header {  
    height:40px; 
    text-transform:uppercase;  
    text-indent:35px;
    line-height:40px;
    margin-top: -20px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.message_error { color:#fff; background:#ff0000 url('../image/error.gif') no-repeat left top; }
.message_success { color:#19AA11; background:#cbf0c7 url('../image/success.gif') no-repeat left top;border:1px solid #19AA11; }
.message_warning { color:#111; background:#FFC907 url('../image/warning.gif') no-repeat left top; }

/* Menu Lateral */

#lateral ul { 
    color:#21759B;  
    font-family: 'Titillium Web', sans-serif;
    font-size:13px;
    background: transparent;
    padding-top: 40px;
}

#lateral ul li { 
    line-height:29px;
    border-style:solid;
    border-color:white;;
    border-width:0px 0px 1px 0px; 
    position: relative;
    z-index: 100;
}
#lateral ul li.full_border {  }

#lateral ul li.buit { 
    height:15px;
    border:0px;
    line-height:0px;
    font-size:0px;
}

#lateral ul li a { 
    display:block;  
    cursor:pointer; 
    background:transparent;
    color:black;
    font-size: 14px;
    height: 40px;
    line-height: 35px;
    text-transform: uppercase;

}
#lateral ul li a:hover { background:#e6e6e6;color:black; }

#lateral ul li a.current {  background:white;color:black; cursor:default; }
#lateral ul li a:hover.current {  background:white;color:black;cursor:default; }


#lateral ul li a.expanded { background:transparent url('../image/icones/up_ico.png') right 10px no-repeat;border-right: 10px solid transparent; }
#lateral ul li:hover a:hover.expanded { background:#e6e6e6 url('../image/icones/up_ico.png') right 10px no-repeat; }

#lateral ul li a.collapsed { background:transparent url('../image/icones/down_ico.png') right 10px no-repeat;border-right: 10px solid transparent; } 
#lateral ul li:hover a:hover.collapsed { background:#e6e6e6 url('../image/icones/down_ico.png') right 10px no-repeat; }

#lateral ul li a span,#lateral ul ul li a span { display:block; padding-left:40px; width: 150px;position: absolute;right: 20px;height: 40px;}
#lateral ul li a span.home,.home { background:url('../image/icones/inici_ico.png') left top no-repeat; }
#lateral ul li a span.boxes,.boxes { background:url('../image/menu_boxes.gif') left top no-repeat; }
#lateral ul li a span.banners,.banners { background:url('../image/icones/baners_ico.png') left top no-repeat; }
#lateral ul li a span.fotos,.fotos{ background:url('../image/icones/fotos_ico.png') left top no-repeat; }
#lateral ul li a span.slideshows,.slideshows{ background:url('../image/icones/slides_ico.png') left top no-repeat; }
#lateral ul li a span.capsaleres,.capsaleres { background:url('../image/menu_capsaleres.gif') left top no-repeat; }
#lateral ul li a span.pages,.pages { background:url('../image/icones/pagines_ico.png') left top no-repeat; }
#lateral ul li a span.tools,.tools { background:url('../image/icones/eines_ico.png') left top no-repeat; }
#lateral ul li a span.config,.config { background:url('../image/icones/configuracio_ico.png') left top no-repeat; }
#lateral ul li a span.users,.users{ background:url('../image/icones/usuaris_ico.png') left top no-repeat; }
#lateral ul li a span.menus,.menus { background:url('../image/icones/menus_ico.png') left top no-repeat; }
#lateral ul li a span.cataleg { background:url('../image/icones/espectacles_ico.png') left top no-repeat; }
#lateral ul li a span.noticies,.noticies { background:url('../image/icones/noticies_ico.png') left top no-repeat; }
#lateral ul li a span.premsa,.premsa { background:url('../image/icones/premsa_ico.png') left top no-repeat; }
#lateral ul li a span.cartells,.cartells{ background:url('../image/icones/cartells_ico.png') left top no-repeat; }
#lateral ul li a span.icon_llistat_3 { background:url('../image/icones/espais_ico.png') left top no-repeat; }/*espais*/
#lateral ul li a span.musics { background:url('../image/icones/musics_ico.png') left top no-repeat; }
#lateral ul li a span.icon_llistat_4 { background:url('../image/icones/patrocinadors_ico.png') left top no-repeat; }

.atributs{background:url('../image/icones/_atributs.png') left top no-repeat; }
.opcions{background:url('../image/icones/_opcions.png') left top no-repeat; }
.media{background:url('../image/icones/_media.png') left top no-repeat; }
.youtube{background:url('../image/icones/_youtube.png') left top no-repeat; }
.vimeo{background:url('../image/icones/_vimeo.png') left top no-repeat; }
.funcions{background:url('../image/icones/_funcions.png') left top no-repeat; }
.relacionats{background:url('../image/icones/_relacionats.png') left top no-repeat; }
.escalar{background:url('../image/icones/_escalar.png') left top no-repeat; }
.general{background:url('../image/icones/_textos.png') left top no-repeat; }
#form h4 span.config{background-position: left -3px;padding-left: 40px;}

#lateral ul ul { 
    display:none;
    line-height:29px; 
    font-size:12px;
    z-index: 0;
    position: relative;
    padding-top: 0;


}

#lateral ul li.actual ul { 
    display:block;  
}

#lateral ul ul li { 
    line-height:29px;
    border-width:1px 0px 0px 0px; 
    height: 40px;
}
#lateral ul ul li a span{
    background:transparent url('../image/icones/arrow_right.png') 5px 7px no-repeat;
}

#lateral ul li li a { 
    display:block; 
}
#lateral ul li:hover li:hover a:hover span { background:#e6e6e6 url('../image/icones/arrow_right.png') 17px 7px no-repeat; }

#lateral ul li li a.current span { background:transparent url('../image/icones/arrow_right.png') 17px 7px no-repeat; cursor:default; }
#lateral ul li:hover li:hover a:hover.current span { background:transparent url('../image/icones/arrow_right.png') 17px 7px no-repeat; cursor:default; }

#lateral ul li li a.expanded, #lateral ul li li a.collapsed {
    padding:0px;
}
#lateral ul li li a span { 
    background:url('../image/icones/arrow_right.png') 17px 7px no-repeat;
    color:#707070;
}

#lateral ul li li a.expanded { background:#e6e6e6 url('../image/icones/up_ico.png') right top no-repeat; }
#lateral ul li:hover li:hover a:hover.expanded { background:#fffbcc url('../image/icones/up_ico.png') right top no-repeat; }

#lateral ul li li a.collapsed { background:#e6e6e6 url('../image/icones/down_ico.png') right top no-repeat; } 
#lateral ul li:hover li:hover a:hover.collapsed { background:#fffbcc url('../image/icones/down_ico.png') right top no-repeat; }

#lateral ul ul ul, #lateral ul li.actual ul ul { 
    display:none;
    line-height:29px;
    background:#f5f5f5;  
    font-size:12px;
}

#lateral ul ul li.actual ul { 
    display:block;  
}


#lateral ul li li li a { 
    display:block; 
    padding-left:42px; 
    background:#f5f5f5 url('../image/icones/arrow_right.png') 20px 7px no-repeat;
}
#lateral ul li:hover li:hover li:hover a:hover { background:#fffbcc url('../image/icones/arrow_right.png') 20px 7px no-repeat; }

#lateral ul li li li a.current { background:#ccedff url('../image/icones/arrow_right.png') 20px 7px no-repeat; cursor:default; }
#lateral ul li:hover li:hover li:hover a:hover.current { background:#ccedff url('../image/icones/arrow_right.png') 20px 7px no-repeat; cursor:default; }

/* Contingut */ 

#contingut p { margin-top:10px; }

#contingut #buscador {
    position:relative;
    float: right;
    margin-top: -40px;
    border:1px solid black;
    padding:5px 20px 10px 20px;
    height:30px;
    line-height:30px;
    background:black;
    border-radius:0px 0 10px 10px;
    overflow:hidden;
    color:white;
}
#contingut #buscador input { width:180px; vertical-align:middle; margin-top:-2px; }
#contingut #buscador input.file { width:220px; vertical-align:middle; margin-top:-2px; }
#contingut #buscador select { width:180px; vertical-align:middle; margin-top:-2px; }

#contingut #buscador a { border:1px solid #e3e3e3; height:19px; padding:2px 10px; background:#e3e3e3; color:#333; }
#contingut #buscador a:hover { background:#FFFBCC; }
#contingut #buscador input.boto_buscador,.boto_buscador{width: 20px;height: 20px;background: transparent url('../image/icones/_search.png') no-repeat left top;border:none;margin-left: 5px;}
.boto_buscador:hover{cursor: pointer;}
/* Taules */ 

tr.taula1 { background:#f2f2f2; }
tr.taula2 { background:#e5e5e5; }
tr:hover.taula1 { background:#fff;cursor: pointer }
tr:hover.taula2 { background:#fff;cursor: pointer }
tr.current_list:hover{cursor: pointer;}
tr.current_list { background:white; }

.llista {
    clear:both;
    margin:15px 0px 0px;
    width:100%;  
    border:1px solid #dfdfdf;
    background:#fff;
}

.llista td, .llista th {
    border-bottom:1px solid #dfdfdf;
    overflow:hidden;
    font-size:14px;
    line-height:15px;
    padding:7px 10px 7px 10px;
}
.taula tr {
}

.fixed { table-layout:fixed;  }
.fixed td { overflow:hidden; white-space:pre;  }
.llista td.no_item { text-align:center; padding:30px; }

.llista thead tr th, .llista tfoot tr th {
    background: linear-gradient(to bottom, rgb(255,255,255) 0%,rgb(242,242,242) 100%);
    color:#333;
    height:31px;
    line-height:31px;
    text-align:left;
    padding:0px 10px 0px 10px;
}

#contingut .llista p {
    margin:0px;
}

.llista a {
    color:black;
    font-weight:bold;
}
td.accions a,.llista td.order a,.llista td a.active,.llista td a.desactive,td.social a {overflow: hidden;display: inline-block;height: 24px;vertical-align: top;}
td.accions a:hover img{margin-top:-24px;}
.llista td.accions{line-height: 24px;}

.llista td.nom a img{margin-right: 5px;}
.llista td.nom{font-weight: bold;}
.llista thead a { padding-right:17px; }
.llista thead a:hover { color:#21759B; }
.llista thead a.asc { background:url('../image/arrow_asc.gif') right top no-repeat; }
.llista thead a.desc { background:url('../image/arrow_desc.gif') right top no-repeat; }

.llista td.order, td.social{text-align: center;}
.llista td.order a,.llista td a.active,.llista td a.desactive,.llista td.social a  {height: 16px;}
.llista td.order a:hover img,.llista td a.active:hover img,.llista td a.desactive:hover img,td.social a:hover img{margin-top:-16px;}

.llista tfoot #split_left {
    float:left;
}

.llista tfoot #split_right {
    float:right;
    text-align:right;
}

.llista tfoot #split_right form {
    display:inline;
    width:100px;
}

.llista a.link_view{background: url('../image/icon_search.gif') bottom left no-repeat;padding: 2px 0 2px 25px;}

.llista tfoot #split_right select { margin:0px 5px; }

.espai { float:left; width:10px; }
.separador{ float:left; width:15px; }

.llista tbody img { font-size:0px; }

/*estils especials iframes incrustats*/
#childframe,#childframe_premsa{overflow:hidden;border:1px solid #E3E3E3;width:100%;margin-top:10px;/*width:915px;*/}
#form 
.iframe{padding-right: 10px;}

/**Estils Botiga **/


#contingut .sale { color:#c00; text-decoration:line-through; }

#totals { 
    float:right;
    text-align:right;
    width:350px;
    margin:0px 10px 0px 0px;
}
#totals .item { display:block; overflow:hidden; width:350px;; }
#totals .fixed_w { display:block; float:right; width:130px; }
#totals .price { font-size:14px; display:inline; margin:0px; font-weight:bold; }



/**End Estils botiga **/



/* Iidomes i pestanyes editors */

#form { margin-top:10px; width:100%;clear: both; }

#form #menuIdioma,#form #menuIdioma2,#form #menu_editor{
    margin-top:15px;
    height:35px;
}

#form #menuIdioma,#form #menuIdioma2,#form #menu_editor { list-style-type:none; }
#form #menuIdioma li,#form #menuIdioma2 li,#form #menu_editor li  { display:inline; }

#form #menuIdioma a,#form #menuIdioma2 a,#form #menu_editor a {
    float:left;
    width:105px;
    height:34px;
    margin:0px 0px 0px 5px;
    border-top:1px solid #e3e3e3;
    border-left:1px solid #e3e3e3;
    border-right:1px solid #e3e3e3;
    text-align:center;
    font-size:14px; 
    line-height:34px;
    color:black;
    background-color:white;
    cursor:pointer;
    text-transform: uppercase;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 -2px 5px #cacaca;
}

#form #menuIdioma a:hover,#form #menuIdioma2 a:hover,#form #menu_editor a:hover { 
    background:#cacaca;
    color:white;
}

#form #menuIdioma a.current, #form #menuIdioma a:hover.current, #form #menu_editor a.current_editor, #form #menu_editor a:hover.current_editor,
#form #menuIdioma2 a.current2, #form #menuIdioma2 a:hover.current2 { 
    color:white; 
    background:gray;  
    cursor:default;
    font-weight: bold;
    box-shadow: 0 -2px 10px #fff;
}
.editor{ 
    margin-top:15px;
}
#form fieldset.lang_content{}
/* Formularis */

#form fieldset {
    display:block;
    float:none;
    border-radius: 10px;
    padding:10px 20px 15px 15px;
    background: #f2f2f2;
    margin-bottom:10px;
}

#form fieldset.no_border { border:0px; }
#form fieldset.no_padding { padding:0px; }
#form fieldset.no_visible { display:none; border-top:none; }

#form div.int_fieldset {
    display:none;
    float:none;
    border:none;
    border-top:none;
    padding:5px 20px 15px 15px;
    background:#f0f0f0;
}

#form .mostrar { 
    clear:both;
    float:none;
    border:1px solid #e3e3e3;
    border-radius: 10px;
    display:block;
    cursor:pointer;
    margin:10px 0px 0px 0px;
    padding:0px 0px 0px 20px;
    background:#e3e3e3 url('../image/icones/arrow_right.png') left 7px no-repeat;
    height:35px;
    color:black;
    line-height:35px;
    font-weight: bold;
}
#form .mostrar:hover { background:#00A2DB url('../image/icones/arrow_right.png') left 7px no-repeat;color:white; }

#form p.form_sep { clear:both; width:100%; display:block; border-bottom:1px solid #e3e3e3; height:15px;padding-bottom: 1px; margin:0px 0px 5px 0px; line-height:0px; font-size:0px; }

#form p.fieldset_sep { clear:both; width:100%; display:block; border-bottom:1px solid #e3e3e3; height:1px; margin:10px 0px; line-height:0px; font-size:0px; }

#form .amagat { display:none; }
#form label { position:relative; display:block; width:100%; overflow:hidden; float:none;font-weight: bold;margin:5px 0; }
#form .clear { clear:both; float:none; font-size:0px; line-height:0px; height:0px; }
#form label.width_60{float: left;width: 640px;}
#form label.width_60 input{width: 600px;}
#form label.width_50_1 { float:left; width:49%; }
#form label.width_50_2 { float:left; width:49%; margin-left:2%; margin-bottom: 10px;}
#form .destacats{float: right;width: 260px;margin-top:10px;}
#form .destacats input{float: left;}
#form .titol_destacat{line-height: 14px;}


#form label a.link_del,#form label a.link_view,#form label a.link_cal { display:block; width:25px; height:24px; border:3px solid #f5f5f5; border-left:0px; position:absolute; bottom:2px; right:0px; background:#f5f5f5; }
#form label a.link_del {border:none; background:transparent url('../image/icones/delete_ico.png') top right no-repeat; right:37px;}
#form label a.link_view {border:none; background:transparent url('../image/icones/_veure.png') top right no-repeat; right: 10px;}
#form label a.link_cal {border:none; width:35px; background:#f5f5f5 url('../image/icones/_funcions.png') top right no-repeat;right: 10px; }
#form label a.link_del:hover {background-position: -1px -24px;} 

#form label.inline { display:block; clear:both; float:none; margin-top:3px; }

#form label span {margin: 5px 0;display: block;}
#form .CodeMirror span{display: inline;margin:0;}

#form label.options { margin:5px 0px 0px; }
#form label span.inline { display:inline; }

#form input { width:99%; }
#form input.file { width:auto; }
#form label.width_50_1 input,#form label.width_50_1 textarea, #form label.width_50_2 input,#form label.width_50_2 textarea { width:95%; }
#form label.width_50_1 input.file, #form label.width_50_2 input.file { width:95%; }
#form input.camp_read.file { width: 80%; }
#form textarea.camp_read { background:#e3e3e3; border:none; padding:2px 2px 2px 5px; }

#form select { width:100%; }
#form select.multiple { margin-top:5px; height:100px; }
#form textarea { width:99%; height:100px; }
#form textarea.file { height:300px; }

#form input.checkbox { width:auto; vertical-align:middle; margin:0px 5px 0px 0px }
#form input.radio { width:auto; vertical-align:middle; margin:0px 5px 0px 10px }

#form .dues_files{height: 40px; padding:0;}



/*Acordeon desplegable camps*/
#form_data{position: relative;z-index: 100;}
#form fieldset{position: relative;z-index: 0; border:none;background: url('../image/bg_line.png') repeat white;}
#form fieldset fieldset{border: 1px solid white;box-shadow: 0px 4px 10px gray; background: none #f7f7f7;}
h4.desplegable{margin-top: 10px;position: relative;z-index: 100;}
h4.desplegable:hover{cursor: pointer;}
.contenidor_fieldset{position: relative;z-index: 100;overflow: hidden;}
#form h4.desplegable.collapsed + fieldset{transition:all .1s linear;visibility: hidden;height: 0;padding: 0; margin:0;} /*important el visiblity ja que si posem display none d'entrada els iframes de "media" no carreguen les fotos inicialment*/
#form h4.desplegable.collapsed + fieldset *{visibility: hidden;overflow: hidden;}
#form h4.desplegable.collapsed { background:#f1f1f1 url('../image/icones/down_ico.png') right 10px no-repeat;border:1px solid #cacaca;color:black;border-radius: 10px;}
#form h4.desplegable.expanded { background:#00A2DB url('../image/icones/up_ico.png') right 10px no-repeat;color:white; }
#form h4.desplegable.collapsed:hover{background-color: #00A2DB;color:white;}


/* Nodes */

#form h4 {
    text-transform: uppercase;
    padding:5px 0px 0px 10px;
    height:35px;
    line-height:35px;
    font-size: 14px;
    border-radius: 10px 10px 0 0;
    border:1px solid #00A2DB;
    border-bottom: none;
    background-color: #00A2DB;
    width: 250px;
    color: white;
}
#form h4 span{padding-left: 40px;background-position: 0px 5px;display: block;height: 35px;}
#form .amb_icona{padding-left: 35px;height: 30px;display: block;line-height: 30px;}

#form h4 + fieldset{border-radius: 0 10px 10px 10px;}

#form .node, #form .nou_node { 
    position:relative; 
    padding:0px 0px 0px 10px;
    background:#f5f5f5; 
    border-bottom:1px solid #e3e3e3; 
    height:28px; 
    line-height:28px; 
    overflow:hidden; 
}
#form .node:hover, #form .nou_node:hover { background:#fff; }
#form .nou_node input { margin-top:3px; }

#form .node .botons, #form .nou_node .botons { position:absolute; top:0px; right:0px; width:150px; height:28px; text-align:center; line-height:17px; padding-top:5px; }
#form .node .botons img, #form .nou_node .botons img { font-size:0px; }

#form #readroot { display:none;}

/*#form #afegir, #form .add_node,#form .nova_galeria { 
    display:block; 
    padding:0px 0px 0px 32px;
    height:28px;
    line-height:28px;
    background:url('../image/icon_more.gif') left top no-repeat;
    cursor:pointer;
}
#form a.nova_galeria {position:relative;background: auto;width: auto;}
#form #afegir:hover { background:#fff url('../image/icon_more.gif') left top no-repeat; cursor:pointer; }*/
#form .container_loading{display:inline-block;}

#form .opcio {
    display:block;
    cursor:pointer;
    background:#F1F1F1 url('../image/icones/arrow_right.png') left 7px no-repeat;
    border:1px solid #e3e3e3;  
    border-top:none;
    padding:0px 0px 0px 20px;
    height:29px;
    color:#333;
    line-height:29px;
}
#form .opcio:hover { background:#fffbcc url('../image/icones/arrow_right.png') left 7px no-repeat; }

#form .taula {
    clear:both;
    margin:0px;
    width:100%;  
    background:#f5f5f5;
}

#form .taula td {
    border-bottom:1px solid #e3e3e3;
    overflow:hidden;
    font-size:11px;
    line-height:19px;
    padding:5px 15px;
    vertical-align:top;
}

#form tr.taula:hover { background:#fff; }

#form .taula label { display:inline; }
#form .taula label span { display:inline; }
#form .taula input { display:inline; width:100px; }
#form .taula input.file { display:inline; width:auto; }
#form .taula input.hidden { display:none; }
#form .taula input.camp_120 { width:120px; }
#form .taula input.camp_270 { width:270px; }
#form .taula input.camp_60 { width:60px; }
#form .taula input.camp_20 { width:20px; }
#form .taula input.checkbox { width:auto; vertical-align:middle; margin:4px 5px 0px 0px; vertical-align:top; }

#form .taula .taula_opcions {
    clear:both;
    margin:0px;
    width:100%;  
}
#form .taula .taula_opcions td {
    border:0px;
    overflow:hidden;
    font-size:11px;
    line-height:19px;
    padding:0px;
}
#form .taula .taula_opcions td.label {
    border:0px;
    font-size:12px;
    font-style:italic;
    letter-spacing:1px;  
}


#form .grup {
    display:block;
    cursor:pointer;
    background:#F1F1F1 url('../image/icon_folder.gif') 6px center no-repeat;
    border:1px solid #e3e3e3;  
    border-top:none;
    padding:0px 0px 0px 25px;
    height:29px;
    color:#333;
    line-height:29px;
}
#form .grup:hover { background:#fffbcc url('../image/icon_folder.gif') 6px center no-repeat; }

#form .opcio {
    display:block;
    cursor:pointer;
    background:#F1F1F1 url('../image/icones/arrow_right.png') left 7px no-repeat;
    border:1px solid #e3e3e3;  
    border-top:none;
    padding:0px 0px 0px 20px;
    height:29px;
    color:#333;
    line-height:29px;
}
#form .opcio:hover { background:#fffbcc url('../image/icones/arrow_right.png') left 7px no-repeat; }

#img_preview{max-width: 920px;}

.help{font-size: 12px;font-weight: normal;font-style: italic;}
/* Botons */

.botonera {
    margin:10px 0px 10px 0px;
    height:auto;
    width:100%;
    overflow:hidden;
    clear: both;
}
label .botonera{margin:0;}

.botonera a,.botonera.add_node {
    float:left;
    margin-right:10px;
    padding:0px 15px;
    height:35px;
    line-height:35px;
    font-size:13px;
    color:white;
    border-radius: 10px;
    background:black;
    cursor:pointer;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
.botonera.add_node{display: block;margin:10px;width: 200px;float: right;}
label .botonera a{    padding:0px 35px;height: 32px;font-size: 16px;line-height: 32px;float: right;}

.botonera a.check_form{background-color: #26a232;color:white;}
.botonera a.check_form:hover{background-color: black;}

.botonera a.enrere{}
.botonera a.enrere:hover{}

.botonera a:hover,.botonera.add_node:hover {
    background:purple;
}


/* Peu */

.float_left {
    float:left;
}

.float_right {
    float:right;
}

#footer {
    position:relative;
    clear:both;
    float:none; 
    margin:-0px 0px 0px 0px;
    width:78%;
    height:145px;
    font-size:14px;
    font-style:italic;
    color:black;
    background:#d9d9d9;
    float: right;
}

#footer p {
    position:relative;
    line-height:15px;
    margin:15px 15px 0px 15px;
    padding:0px 22px 0px 0px;
}

#toTop {
    width:50px;
    border:1px solid white;
    background:black;
    text-align:center;
    padding:5px;
    position:fixed; /* this is the magic */
    bottom:10px; /* together with this to put the div at the bottom*/
    right:10px;
    cursor:pointer;
    display:none;
    color:white;
    font-family:verdana;
    font-size:36px;
    line-height: 36px;
    border-radius: 15px;
}
#toTop:hover{color:black;background: white;border-color: #cacaca;}
