/* 
    Document   : structure_iframe
    Created on : 12/07/2012, 09:43:37
    Author     : Xavi Pujolras - La Mantis
    Description:
        Purpose of the stylesheet follows.
*/

html,body{min-width:inherit;overflow: hidden;background-color: #f2f2f2;}
#body_admin{margin:0px;height: 100%;background-color: #f2f2f2;}
.iframe #contingut{padding-left: 0;margin-left: 0;}
#pagina {min-height: auto;}
#body_admin table.llista{}



.botonera{overflow: visible;}
.botonera a{display: block;}

.llista,#contingut{margin-top:0;}