﻿/*  
Author: Arnau Pujol Cabarrocas
Author URI: http://analogicemotion.com/
*/

/* Reset CSS */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td 
{ margin:0px; padding:0px; border:0px; outline:0px; }

html { overflow-y:scroll; }

a { color:#21759B; text-decoration:none; outline:none; }

a img, :link img, :visited img { border:0px; }

table { border-collapse:collapse; border-spacing:0px; }

ol, ul { list-style:none; }

:focus { outline:none; }

img { margin:0px; vertical-align:top; }

input, textarea, select {
  margin:0px;
  padding:1px; 
  font-family:Verdana,Arial,sans-serif;
  font-size:11px; 
  line-height:15px;
}
input { height:13px; }
input.file { height:21px; }
select { height:19px; }
.vermell { color:#c00; font-style:italic; }

/* Estructura General */

html,body { 
  margin:10px; 
  font-family:"Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;
  font-size:12px;
  line-height:17px;
  color:#333;
  background:#f9f9f9;
}

#pagina {
  width:540px;
  background:#F9F9F9;
}

/* Titulars */

h1 {
  font-family:Georgia,"Times New Roman","Bitstream Charter",Times,serif;
  font-size:24px;
  height:35px;
  line-height:35px;
  text-transform:none;
  font-weight:normal;
  font-style:italic;
}

/* Formularis */

form { margin:10px 0px 0px; }

form fieldset {
  display:block;
  float:none;
  border:1px solid #e3e3e3;
  padding:10px 20px 15px 15px;
  background:#f5f5f5;
  margin-bottom:10px;
}

form p.form_sep { 
  clear:both; 
  width:100%; 
  display:block; 
  border-bottom:1px solid #e3e3e3; 
  height:10px; 
  margin:0px 0px 5px 0px; 
  line-height:0px; 
  font-size:0px; 
}

form label { position:relative; display:block; width:100%; overflow:hidden; float:none; }

form label span {
  display:block;
  padding-top:5px;
  margin-bottom:1px;  
  font-family:Georgia,"Times New Roman","Bitstream Charter",Times,serif;
  font-size:12px; 
  letter-spacing:1px;
  font-style:italic;
  height:17px;
}

form input { width:99%; }
form select { width:100%; }

/* Botons */

.botonera {
  margin:10px 0px 0px 0px;
  height:30px;
  width:100%;
  overflow:hidden;
}

.botonera a {
  float:left;
  margin-right:10px;
  padding:0px 15px;
  height:28px;
  line-height:28px;
  font-family:Georgia,"Times New Roman","Bitstream Charter",Times,serif;
  font-size:12px;
  color:#333;
  border:1px solid #e3e3e3;
  background:#e3e3e3;
  cursor:pointer;
}

.botonera a:hover {
  background:#fffbcc;
}